@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">الله يسامحك ع هيك تاسك</h1>
    <h1>Login with Admin@gmail.com/12345678 To Add new stuff</h1>
    <h1>I know anyone can delete but عديها</h1>
    <h1>No validation like password or smth</h1>
    <h1>FrontEnd ابو الشلن</h1>
    <h1>-----------------------------------------------------</h1>
    <h1>Give Me another Challange</h1>
</div>
